# Environment variables
.env

# ---> VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Python project assisstant files
venv/
.venv/
__pycache__/
*.pyc

# any backups
.bak
*.bak

# rag model & data
.vdb/
!.vdb/docker-compose.yml
*.tsv
*.pkl
*.faiss

# logs
*.log
logs/

# raw documents directory
raw_docs/

# documentation directory
docs/
