# ---> VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Python project assisstant files
venv/
__pycache__/
*.pyc

# any backups
.bak
*.bak

# rag model & data
.vdb
*.tsv
*.pkl
*.faiss
