<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Knowledgy Base Admin Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='admin.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//trend.micro-stack.org/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '5']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>
  <body>
    <div class="container">
      <h2>Upload Knowledge Base Files</h2>
      <hr />
      <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="file-upload-wrapper">
          <div class="file-picker">
            <input
              type="file"
              name="file"
              class="file-upload"
              id="fileInput"
              required
            />
            <label for="fileInput" class="file-upload-label"
              >Choose a File</label
            >
          </div>
          <button type="submit">Upload</button>
        </div>
        <p class="selected-file" id="fileName">No file selected</p>
      </form>
      <hr />
      <h2>Uploaded Document Files</h2>
      <ul>
        {% for file in files %}
        <li>
          <a href="{{ url_for('download_file', filename=file) }}">{{ file }}</a>
          <form
            class="delete-form"
            action="{{ url_for('delete_file', filename=file) }}"
            method="post"
          >
            <button class="delete-btn" type="submit">Delete</button>
          </form>
        </li>
        {% endfor %}
      </ul>
      <hr />
      <form action="{{ url_for('goto_chat') }}" method="post">
        <div class="page-action-wrapper">
          <!-- <p>{{ message }}</p> -->
          <button type="button" id="button1">Index Knowledgy Base</button>
          <button type="submit" name="button2">Back to Chatting Page</button>
        </div>
      </form>
      <div id="loading-overlay" style="display: none">
        <div class="spinner"></div>
        <p>Loading...</p>
      </div>
    </div>

    <script>
      document
        .getElementById("fileInput")
        .addEventListener("change", function (event) {
          const fileName = event.target.files.length
            ? event.target.files[0].name
            : "No file selected";
          document.getElementById("fileName").textContent = fileName;
        });

      document.addEventListener("DOMContentLoaded", function () {
        const docIndex = document.getElementById("button1");
        if (docIndex) {
          docIndex.addEventListener("click", function () {
            // show pop up of page loading
            document.getElementById("loading-overlay").style.display = "flex";
            fetch("/index_docs", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
            })
              .then((response) => response.json())
              .then((data) => {
                console.log(data);
                // hide pop up of page loading
                document.getElementById("loading-overlay").style.display =
                  "none";
              })
              .catch((error) => {
                console.error("Error:", error);
                document.getElementById("loading-overlay").style.display =
                  "none";
              });
          });
        }
      });
    </script>
  </body>
</html>
